*~
*.bak
svg-inkscape/
.vscode/
dist/
.cache/*
.data/*
Datasets/
__pycache__/
new_api/.cache/*
new_api/.data/*
new_api/Datasets/
new_api/Dataloader/__pycache__/
Datos/
Datos.rar
node_modules/
web/node_modules/
